<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="BlackHawk Maintenance"
        android:theme="@style/Theme.BlackHawk">
        <activity android:name=".ui.PendingApprovalActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.RejectedActivity"
            android:exported="false" />
        <activity
            android:name=".ui.AiStatusActivity"
            android:exported="false" />
        <activity
            android:name=".ui.UpdateRequiredActivity"
            android:exported="false"
            android:theme="@style/Theme.BlackHawk.UpdateDialog" />

        <service
            android:name=".ui.UpdateDownloadService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ui.pdf.PdfViewerActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:label="Visor PDF" />
        <activity
            android:name=".ui.StartupActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.RegisterActivity"
            android:exported="false" />
    </application>

</manifest>